
<div class="jumbotron">
    <h1>Power Prospect Pro</h1>
    <p class="lead">Simple.  Fast. Effective</br>Dynamic prospecting for any sales organization</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <h3>See it in Action!</h3>
    <div class="flex-video widescreen">
        <iframe src="" frameborder="0" allowfullscreen=""></iframe>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>The Product</h2>
        <p>
            Most CRM systems focus on the opportunity but not the process of finding them.
            Power Prospect Pro focuses on identifying leads and opportunities using an
            easy to use flexible tool.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Pricing</h2>
        <p>Effectiveness starts at the cost to you.  Read more about the cost to use the Power Prospect Pro tool.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>The Proof</h2>
        <p>How do you know Power Prospect Pro will work for you?  Read about the success it has had with other sales organizations!</p>
        <p><a class="btn btn-default" href="">Read More &raquo;</a></p>
    </div>
</div>