@{
    ViewBag.Title = "Home Page";
}

<div>
    @if (!Request.IsAuthenticated)
    {
        Html.RenderPartial("_MainTool");
    }
    else {
        Html.RenderPartial("_HomeContent");
        //Html.RenderPartial("_MainTool");
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}